<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
  crossorigin="anonymous">
</head>
<body>
  <div style="height: 100vh;" class="p-5 w-100 d-flex justify-content-between">
    <div class="left w-25 pe-2">
      <form action="">
        <input class="form-control" type="text" placeholder="example.extention" name="filename">
        <hr>
        <ul>
          <li class="list-group-item border-0 d-flex justify-content-between">
            <a class="text-decoration-none" href="">file.txt</a>
            <a href="">❌</a>
          </li>
        </ul>
      </form>

    </div>
    <div class="right w-75">
      <p class="ml-10">file.txt<a class="text-decoration-none fw-bold " href="">❌</a></p>
      <form action="">
        <textarea name="filedata" class="form-control" rows="19"  placeholder="enter text here">

        </textarea>
        <button class="mt-2 px-5 btn btn-success">Save</button>

      </form>
    </div>

  </div>
</body>
</html>